.App1 {
    
    margin: 0;
   padding-top: 50;
   padding-bottom: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    background-image: "images.jpeg";
  }